* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(243, 243, 243);
}

h2{
    margin:10px;
}

.Wrapper-canvas {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  canvas {
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px rgb(220, 220, 220);
  }
  input {
    margin-top: 10px;
  }
}

#color-options {
  margin-top: 15px;
  display: flex;
}

.color-option {
  width: 20px;
  height: 20px;
  &:hover {
    cursor: pointer;
    transform: scale(1.5);
  }
}

#text{
    padding:5px;
    font-size: 16px;
    width: 220px;
    height: 30px;
    border-radius: 5px;
    border : solid 2px blueviolet;
}

@mixin my-button($bgColor: rgba(11, 136, 158)) {
  margin: 10px;
  width: 100px;
  height: 35px;
  font-size: 16px;
  background-color: rgba($bgColor,0.5);
  color: white;
  border-radius: 5px;
  border: solid 1px;
  &:hover {
    cursor: pointer;
    background-color: rgba($bgColor,0.7);
    transform: scale(1.2);
  }
}

#buttons {
  margin-top: 15px;
  button {
    @include my-button(rgb(165, 38, 200));
  }
}

.my-button{
    @include my-button;
    width:120px;
    height:80px;
}


#file-rw{
    display: flex;
}

#file{
    display: none;
}
label{
    display: flex;
    justify-content: center;
    align-items: center;
}
